<app-loader [hidden]="!submitting"></app-loader>
<div class="center-child-elements h-100" [hidden]="submitting">
  <form autocomplete="off" class="form-horizontal col-md-6" role="form" (ngSubmit)="onSubmit()" #registrationForm="ngForm">
    
    <div class="row margin-bottom-10px">
      <div class="col-sm-9">
        <h2>Registration Form</h2>
      </div>
      <div class="col-sm-3 align-right display-flex">
        <button class="btn btn-md btn-warning btn-block flex-end" (click)="routeUtils.routeTo('/')">Go Back</button>
      </div>
    </div>

    <fieldset class="center-child-elements">
      <div class="form-group padding-lr">
        <mat-form-field class="w-100">
          <input type="text" matInput placeholder="Username" required class="form-control" [(ngModel)]="appUser.username" name="username" /> 
        </mat-form-field>
      </div>
      <div class="form-group padding-lr">
        <mat-form-field class="w-100">
          <input type="text" matInput placeholder="Name" required class="form-control" [(ngModel)]="appUser.name" name="name" /> 
        </mat-form-field>
      </div>
      <div class="form-group padding-lr">
        <mat-form-field class="w-100">
          <input type="text" matInput placeholder="Address" class="form-control" [(ngModel)]="appUser.address" name="address" />
        </mat-form-field>
      </div>
      <div class="form-group padding-lr">
        <mat-form-field class="w-100">
          <input type="text" matInput placeholder="Document" class="form-control" [(ngModel)]="appUser.document" name="document" />
        </mat-form-field>
      </div>
      <div class="form-group padding-lr">
        <mat-form-field class="w-100">
          <input type="text" matInput placeholder="Phone" required class="form-control" [(ngModel)]="appUser.phone" name="phone" />
        </mat-form-field>
      </div>
      <div class="form-group padding-lr">
        <mat-form-field class="w-100">
          <input type="password" matInput placeholder="Password" required class="form-control" [(ngModel)]="appUser.password" name="password" />
        </mat-form-field>
      </div>
    </fieldset>
    
    <button type="submit" class="btn btn-primary btn-block" [disabled]="!registrationForm.form.valid">Register User</button>
  </form>
</div>