/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

.no-padding {
    padding: 0px !important;
}

.create-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-child-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-end {
    align-self: flex-end;
}

.create-button {
    padding: 18px 20px;
    width: 260px;
    font-size: 18px;
}

.clickeable {
    cursor: pointer;
}

.clickeable:hover{
    opacity: .8;
}

.w-66 {
    width: 66.6%;
}

.w-33 {
    width: 33.6%;
}

.user-select-none {
    user-select: none;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.margin-top-10px {
    margin-top: 10px;
}

.margin-top-5px {
    margin-top: 5px;
}