.zone-letter {
    height: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 75px;
}

.steelblue-bg {
    background-color: steelblue;
}

.color-white {
    color: white;
}

.clickeable {
    cursor: pointer;
}

.clickeable:hover{
    opacity: .8;
}

figcaption {
    margin: 0px 0px 5px 5px;
}
